<button class="btn btn-default btn-transparent dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <span class="glyphicon glyphicon-option-vertical"></span>
</button>

{{yield}}
